@font-face {
	font-family: europa;
	src: url(../fonts/light.otf);
}

@font-face {
	font-family: pt-sans;
	src: url(../fonts/pt_sans.ttf);
}

@font-face {
	font-family: open-sans;
	font-weight: bold;
	src: url(../fonts/open_sans.ttf);
}

@font-face {
	font-family: open-sans;
	src: url(../fonts/open-light.ttf);
}

@font-face {
	font-family: europa;
	font-weight: bold;
	src: url(../fonts/bold.otf);
}

@font-face {
	font-family: europa-reg;
	src: url(../fonts/regular.otf);
}

.selector-container {
	text-align: center;
}

.selector {
	width: 300px;
	margin: auto;
	position: relative;
	display: none;
}

.select {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	font-size: 16px;
	color: #aaa;
	-webkit-transition: color 1s;
	transition: color 1s;
}

.select.selected {
	color: black;
}

.underline {
	position: absolute;
	height: 1px;
	width: 80px;
	top: 0px;
	left: 70px;
	border-bottom: 1px solid #49a4ff;
	-webkit-transition: left 0.5s;
	transition: left 0.5s;
}

.info {
	font-family: open-sans;
	font-size: 15px;
	margin-top: 50px;
	margin-bottom: 30px;
	position: relative;
}

.info .name {
	font-weight: bold;
	font-family: europa;
	font-size: 30px;
	top: 3px;
	position: relative;
	color: black;
}

.github {
	position: relative;
	margin-left: 10px;
	top: 2px;
}

.email, .email2 {
	padding-bottom: 15px;
	border-bottom: 1px solid #dedede;
}

.email2 {
  font-size: 13px;
	display: none;
}

.name, .github {
	display: inline-block;
}

.mark {
	width: 20px;
	height: 20px;
}

.info div {
	color: #959595;
}

body {
	font-family: open-sans;
	font-size: 14px;
	text-align: center;
}

.months {
	width: 450px;
	margin-bottom: 10px;
	font-size: 11px;
	color: #aaa;
	word-spacing: 11px;
	margin-left: 2px;
}

.years {
	position: absolute;
	left: -50px;
	width: 50px;
}

.year {
	font-size: 12px;
	padding-top: 10px;
	height: 29px;
	width: 100px;
	border-top: 1px dotted rgba(160, 160, 160, 0.5);
	color: #aaa;
}

.company {
	font-size: 20px;
	font-weight: bold;
}

.status {
	margin-left: 5px;
	font-size: 18px;
	color: #aaa;
}

.fancy-timeline {
	width: 400px;
	height: 650px;
	position: relative;
}

.timeline {
	top: 30px;
	position: relative;
	margin: auto;
}

.timeline {
	width: 800px;
}

.container {
	width: 800px;
}

.calendar {
	display: none;
}

@media screen and (max-width: 800px) {
	.container, .timeline {
		width: 400px;
	}

	.email2 {
		display: block;
	}

	.email {
		display: none;
	}

	.status {
		display: block;
		font-size: 15px;
		margin-left: 0;
		margin-bottom: 3px;
	}
}

@media screen and (min-width: 1120px) and (min-device-height: 800px) {
	#selector {
		display: block;
	}

	.visual .timeline{
		left: -100px;
		width: 1100px;
		position: relative;
		overflow: hidden;
	}

	.visual .container {
		width: 1024px;
	}

	.visual ul {
		list-style: none;
	}

	.visual ul .paper {
		border-left: 1px solid #49a4ff;
	}

	.visual li {
		margin-bottom: 10px;
		margin-top: 20px;
		border-left: 1px solid #dedede;
		padding-left: 10px;
	}

	.visual .company, .visual .time {
		margin-left: 40px;
	}

	.visual .intern, .visual .edu {
		background-color: #4292f4;
	}

	.visual .status {
		font-size: 13px;
		margin-left: 8px;
		border-radius: 10px;
		color: white;
		padding: 3px 10px 3px 10px;
		position: relative;
		top: -3px;
	}

	.visual .calendar {
		display: inline-block;
		position: absolute;
		top: 0px;
		left: 100px;
		width: 400px;
	}

	.visual .publications ul {
		position: relative;
		left: -40px;
	}

	.visual .publications ul li {
		border-left: 1px solid #49a4ff;
	}

	.visual .desc {
		opacity: 0.2;
		-webkit-transition: opacity 1s;
		transition: opacity 1s;
		margin-bottom: 40px;
	}

	.visual .desc.selected {
		opacity: 1;
	}

	.visual .description {
		left: 600px;
		width: 500px;
		height: 650px;
		overflow: scroll;
		display: inline-block;
		scroll-behavior: smooth;
		position: relative;
	}
}

.publications {
	margin-top: 70px;
	margin-bottom: 150px;
}

.publications .header {
	font-size: 20px;
}

.desc {
	margin-bottom: 20px;
}

.filler {
	color: white;
	height: 100px;
}

.slice {
	background-color: white;
	position: absolute;
	height: 40px;
	border-style: dashed;
}

.top {
	border-width: 1px 1px 0 1px;
}
.mid {
	border-width: 1px;
}
.bot {
	border-width: 0 1px 1px 1px;
}

.twitch {
	border-color: #444;
}

.twitch-logo {
	margin-top: 55px;
	margin-left: 40px;
	width: 340px;
	height: auto;
}

.gatech {
	text-align: left;
	border-color: #888;
}

.gatech-logo {
	margin-top: 80px;
	margin-left: 62px;
	width: 220px;
	height: auto;
}

.um {
	border-color: #bbb;
}

.u-logo {
	position: absolute;
	left: -14px;
	top: 395px;
	width: 200px;
	pointer-events: none;
}

.um-logo {
	position: relative;
	height: 100px;
	width: auto;
}

.ibm {
	border-color: #aaa;
}

.ibm-logo {
	height: 30px;
	margin-top: 5px;
	margin-left: 62px;
}

.nsa {
	filter: grayscale(100%);
	background-image: url(../img/nsa.svg);
	background-position: center;
	background-size: 200px 200px;
	opacity: .5;
	border-color: #666;
}

.nsa.selected {
	filter: grayscale(0%);
	opacity: 1;
}

.microsoft {
	border-color: #999;
}

.microsoft-logo {
	margin-top: 2px;
	height: 36px;
	margin-left: 42px;
	opacity: 0.5;
}

.storyboard {
	color: #888;
	text-align: center;
	padding-top: 10px;
	letter-spacing: 5px;
	font-weight: bold;
	height: 30px;
	-webkit-transition: color 1s;
	transition: color 1s;
	border-color: #888;
}

.storyboard.selected {
	color: black;
}

.twitch-top {
	width: 350px;
}

.t-logo {
	position: absolute;
	left: -10px;
	pointer-events: none;
}

.logo {
	pointer-events: none;
	filter: grayscale(100%);
	opacity: 0.5;
}

.selected .logo{
	opacity: 1;
	filter: grayscale(0%);
}

.twitch-mid {
	top: 40px;
	height: 120px;
	width: 400px;
}
.twitch-bot {
	top: 160px;
	left: 220px;
	width: 180px;
}
.gatech-top {
	top: 160px;
	width: 220px;
	height: 39px;
	background-color: rgba(255,255,255, 0.8);
	border-bottom: 1px solid white;
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}
.gatech-top.selected {
	background-color: white;
}
.gatech-mid {
	top: 200px;
	height: 120px;
	width: 400px;
}
.gatech-bot {
	top: 320px;
	left: 290px;
	width: 110px;
}
.um-mid {
	top: 360px;
	height: 160px;
	width: 400px;
}
.um-bot {
	top: 520px;
	left: 300px;
	width: 100px;
}
.cover {
	top: 520px;
	width: 300px;
	background-color: white;
}
.ibm {
	top: 400px;
	width: 200px;
	left: 200px;
}
.nsa {
	top: 240px;
	left: 200px;
	width: 100px;
}
.microsoft {
	top: 360px;
	left: 180px;
	width: 120px;
}
.storyboard {
	top: 320px;
	width: 300px;
	background-color: rgba(255,255,255, 0.9);
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}
.storyboard.selected {
	background-color: white;
}

.container {
	margin: auto;
	text-align: left;
}

#info-container {
	-webkit-transition: width 1s;
	transition: width 1s;
}
